<a href="https://colab.research.google.com/github/t108368071/MyProject/blob/master/pre_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from google.colab import drive 

drive.mount('/content/gdrive')
%cd /content/gdrive/MyDrive/Colab Notebooks/

#df_all = pd.read_csv("NormalBP_features_13000.csv") 
#df_all = pd.read_csv("HIGHBP_features_13000.csv")
#df_all = pd.read_csv("LOWBP_features_13000.csv")
df_all = pd.read_csv('MIXBP_features_39000.csv')

#num_features = ['cardiac_period', 'SUT', 'DT', 'DW_10', 'DW_25', 'DW_33', 'DW_50', 'DW_66','DW_75', 'SW_10 + DW_10', 'SW_10/DW_10', 'SW_25 + DW_25', 'SW_25/DW_25', 'SW_33 + DW_33', 'SW_33/DW_33','SW_50 + DW_50', 'SW_50 / DW_50', 'SW_66 + DW_66', 'SW_66 / DW_66','SW_75 + DW_75', 'SW_75 / DW_75','area','area_s','area_d']
#正常特徵
#num_features = ['cardiac_period', 'SUT', 'DT','SW_25 + DW_25','SW_75 + DW_75','DW_50','SW_50 + DW_50','area_d']
#高血壓特徵
#num_features = ['cardiac_period','DT','area_d','area_s','SW_50 + DW_50','DW_33','SW_33/DW_33','SW_10/DW_10']
#低血壓特徵
#num_features = ['cardiac_period','DT','area_d','area_s','SUT','area','SW_10/DW_10','SW_25/DW_25']
#混和特徵
num_features = ['cardiac_period','SUT', 'DT','DW_50','SW_75 / DW_75','area_d','DW_75', 'SW_10/DW_10']
target = ['type']

df = df_all[num_features + target]
df.head()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/Colab Notebooks

   cardiac_period  SUT  DT  DW_50  ...    area_d  DW_75  SW_10/DW_10  type
0              70   17  54     14  ...  0.741239      9     0.285714     1
1              71   17  53     14  ...  0.712137      9     0.378378     1
2              70   18  53     14  ...  0.679953      9     0.368421     1
3              71   17  54     14  ...  0.692348      9     0.368421     1
4              70   17  53     15  ...  0.711011     10     0.260000     1

[5 rows x 9 columns]

In [ ]:
df_target = pd.DataFrame(df, columns=['type'])
df.drop(['type'], axis=1, inplace=True)
df_target.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   type
0     1
1     1
2     1
3     1
4     1

In [ ]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
folds = KFold(n_splits=10, shuffle=False)
# resplit the data after processing
x_train, x_test, y_train, y_test = train_test_split(df, df_target, test_size=0.15)

In [ ]:
x_train

       cardiac_period  SUT  DT  ...      area    area_s    area_d
15303              81   19  63  ...  1.165290  0.273462  0.871347
2817              105   23  81  ...  1.333474  0.347441  0.962940
23223              80   18  62  ...  1.052454  0.248606  0.781724
31713              90   22  66  ...  1.279636  0.320063  0.936743
2398              105   27  78  ...  1.490890  0.402475  1.065357
...               ...  ...  ..  ...       ...       ...       ...
6549              111   28  86  ...  1.490835  0.376207  1.090710
27747              76   19  57  ...  1.015988  0.276532  0.717228
19433              85   18  67  ...  1.082088  0.259042  0.800270
1450               83   24  59  ...  1.259320  0.385697  0.849720
22591              81   18  62  ...  1.104368  0.262201  0.819116

[33150 rows x 24 columns]

In [ ]:
x_test

       cardiac_period  SUT  DT  ...      area    area_s    area_d
14257              79   23  59  ...  1.183054  0.343363  0.816454
38014              78   21  57  ...  1.110502  0.316297  0.771969
3721              115   22  54  ...  1.052184  0.312813  0.716876
34429              71   27  43  ...  1.184911  0.452782  0.709576
22712              80   19  62  ...  1.131046  0.283413  0.823883
...               ...  ...  ..  ...       ...       ...       ...
7748               80   25  56  ...  1.222655  0.424282  0.774815
18516              84   18  66  ...  1.127171  0.259589  0.844399
7746               82   29  57  ...  1.327312  0.463355  0.838237
5287              113   29  77  ...  1.466428  0.454108  0.988630
12093              90   23  66  ...  0.859159  0.253912  0.587527

[5850 rows x 24 columns]

In [ ]:
pre_screen_train = pd.concat([x_train, y_train],axis=1)
pre_screen_test = pd.concat([x_test, y_test],axis=1)

In [ ]:
pre_screen_train.to_csv('org_train.csv')
pre_screen_test.to_csv('org_test.csv')

In [ ]:
print(len(x_train))
print(len(x_test))

33150
5850

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import sklearn.metrics as metrics
# 建立 random forest 模型
forest = RandomForestClassifier(n_estimators = 100) 
forest.fit(x_train, y_train)
prediction = forest.predict(x_test)
c = np.vstack(prediction)
print(classification_report(y_test, c))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

              precision    recall  f1-score   support

           1       0.94      0.93      0.93      1996
           2       0.94      0.95      0.94      1922
           3       0.90      0.90      0.90      1932

    accuracy                           0.93      5850
   macro avg       0.93      0.93      0.93      5850
weighted avg       0.93      0.93      0.93      5850

In [ ]:
c

array([[2],
       [2],
       [1],
       ...,
       [3],
       [3],
       [1]])

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
import sklearn.metrics as metrics

forest = DecisionTreeClassifier(random_state=0) 
forest.fit(x_train, y_train)
prediction = forest.predict(x_test)
c = np.vstack(prediction)
print(classification_report(y_test, c))

              precision    recall  f1-score   support

           1       0.89      0.89      0.89      1996
           2       0.92      0.91      0.91      1922
           3       0.84      0.85      0.84      1932

    accuracy                           0.88      5850
   macro avg       0.88      0.88      0.88      5850
weighted avg       0.88      0.88      0.88      5850

In [ ]:
from sklearn import svm
from sklearn.metrics import classification_report
svc = svm.SVC()
svc.fit(x_train, y_train)
prediction = svc.predict(x_test)
c = np.vstack(prediction)
print(classification_report(y_test, c))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

              precision    recall  f1-score   support

           1       0.84      0.77      0.80      3944
           2       0.76      0.90      0.82      3858
           3       0.69      0.61      0.65      3898

    accuracy                           0.76     11700
   macro avg       0.76      0.76      0.76     11700
weighted avg       0.76      0.76      0.76     11700

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import sklearn.metrics as metrics
import numpy as np
forest = RandomForestClassifier(n_estimators = 50) 

for i, (train_idx, val_idx) in enumerate(folds.split(x_train, y_train)):
    train_data, train_target = x_train.iloc[train_idx], y_train.iloc[train_idx]
    val_data, val_target = x_train.iloc[val_idx], y_train.iloc[val_idx]
    
    forest.fit(train_data, train_target) 
    predictions = forest.predict(val_data)
    report = classification_report(y_test, c)

    print(f"Train fold {i} /n report: {report}")

    
#print(f"Average MAE SBP: {np.mean(errors_sbp)} SD:{np.mean(errors_sbp_std)} MAE DBP: {np.mean(errors_dbp)} SD:{np.mean(errors_dbp_std)}")